@tailwind base;
@tailwind components;
@tailwind utilities;

.debug-screens::before {
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  content: 'screen: _';
  @apply fixed left-0 top-0 z-[2147483647] bg-black px-[0.5em] py-[calc((1/3)*1em)] font-sans text-[12px] leading-[1] text-white;
}

@screen mobile-portrait {
  .debug-screens::before {
    content: 'screen: mobile-portrait';
  }
}

@screen mobile-landscape {
  .debug-screens::before {
    content: 'screen: mobile-landscape';
  }
}

@screen tablet {
  .debug-screens::before {
    content: 'screen: tablet';
  }
}

@screen desktop {
  .debug-screens::before {
    content: 'screen: desktop';
  }
}

@screen desktop-larger {
  .debug-screens::before {
    content: 'screen: desktop-larger';
  }
}

@font-face {
  font-family: 'pretendard-medium';
  src: url('./assets/font/pretendard-medium.eot');
  src:
    url('./assets/font/pretendard-medium.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/font/pretendard-medium.woff2') format('woff2'),
    url('./assets/font/pretendard-medium.woff') format('woff'),
    url('./assets/font/pretendard-medium.ttf') format('truetype');
  font-display: block;
}

body {
  margin: 0;
  overflow-x: hidden;
}

*,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  word-break: keep-all;
  letter-spacing: 0;
  font-family: pretendard-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

.bg-blur-circle-top-left {
  background: -o-linear-gradient(165deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
  background: linear-gradient(285deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
  @apply absolute -left-[5%] -right-[20%] -top-[10%] bottom-auto h-[280px] w-[280px] rounded-full opacity-[97%] blur-[68px];
}

.bg-blur-circle-top-left-2 {
  background: -o-linear-gradient(165deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
  background: linear-gradient(285deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
  @apply absolute -left-[5%] -right-[20%] -top-[10%] bottom-auto h-[280px] w-[280px] rounded-full opacity-[90%] blur-[64px];
}

.bg-blur-circle-top-right {
  background: -o-linear-gradient(165deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
  background: linear-gradient(285deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
  @apply absolute -right-[20%] bottom-auto left-auto top-[2%] h-[280px] w-[280px] rounded-full opacity-[90%] blur-[64px];
}

.bg-blur-circle-middle-left {
  background: -o-linear-gradient(31deg, #ff7448 27%, #ff4848 50%, #6248ff 75%);
  background: linear-gradient(59deg, #ff7448 27%, #ff4848 50%, #6248ff 75%);
  @apply absolute bottom-auto left-[5%] right-auto top-[20%] h-[280px] w-[280px] rounded-full opacity-[90%] blur-[64px];
}

.bg-blur-circle-bottom-left {
  background: -o-linear-gradient(318deg, #ff7448 26%, #ff4848 51%, #6248ff 75%);
  background: linear-gradient(132deg, #ff7448 29%, #ff4848 52%, #6248ff 75%);
  @apply absolute -bottom-[10%] -left-[20%] right-auto top-auto h-[280px] w-[280px] rounded-full opacity-[90%] blur-[64px];
}

.bg-blur-circle-bottom-right {
  background: -o-linear-gradient(318deg, #ff7448 26%, #ff4848 51%, #6248ff 75%);
  background: linear-gradient(132deg, #ff7448 26%, #ff4848 51%, #6248ff 75%);
  @apply absolute bottom-0 left-auto right-0 top-auto h-[280px] w-[280px] rounded-full opacity-[90%] blur-[64px];
}

.bg-blur-image-process-work {
  background: -o-linear-gradient(333deg, black, rgba(255, 255, 255, 0) 73%);
  background: linear-gradient(117deg, black, rgba(255, 255, 255, 0) 73%);
  background-position: 50% 50%;
  @apply rounded-[12px] bg-cover;
}
